/* Glowing effect for cards on hover */
.shadow-glow {
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.2), 0 0 24px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.group:hover .shadow-glow {
  box-shadow: 0 0 18px rgba(255, 255, 255, 0.4), 0 0 36px rgba(0, 0, 0, 0.2);
}
